*{
    margin: 0;
    padding: 0;
    
    
}


header{
 
padding: 8px;
background-color: #22300B;
text-align: center;

}
body{  
    
    background-color: #76993D;
    background-repeat: no-repeat;
    background-size: 10000px 10000px;
    
}


ul{
    background-color: rgba(0, 0, 0, 0.904);
    overflow: hidden;
    list-style: none;
    
}
li {
    display: inline;    
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
li a:hover {
    background-color: rgb(66, 62, 62);
    padding: 14px 16px;
}

section {
    width:75%;
    height:60%;
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    
}
h5{
    
    background-color: #293B14;
    border-radius: 4%;
}

textarea{
  width:300px; 
 height:200px;



}

